@import "../../variables";

.pagination__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px;
  color: gray;
  font-size: $smaller;
}

.pagination__nav {
  display: flex;
}

.pagination__nav--current-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 35;
  color: $light-blue;
  border-bottom: 1px solid $border-color-gray;
  border-top: 1px solid $border-color-gray;
}

.nav__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: white;
  border: 1px solid $border-color-gray;
  color: $light-blue;
  cursor: pointer;
}

.nav__button:disabled {
  color: gray;
}

.nav__button:first-child {
  border-radius: 4px 0 0 4px;
  border-right: none;
}

.nav__button:last-child {
  border-radius: 0 4px 4px 0;
  border-left: none;
}

.nav__select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35px;
  border: 1px solid $border-color-gray;
  border-radius: 4px;
  color: $light-blue;
}

.pagination__info {
  display: flex;
  justify-content: flex-end;
  min-width: 100px;
}
